<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head('Andrey\'s')"></head>
<body>
<header>
    <nav th:replace="fragments/menu :: menu"></nav>
</header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Items</span></h1>
    <h1 class="text-center mt-2"><span th:text="|Total count of items: ${count}|" class="badge badge-pill badge-dark" ></span></h1>
    <hr class="hr-3"/>
    <div class="container-fluid">
        <div class="offers row mx-auto d-flex flex-row justify-content-center">

            <div th:each="item : ${items}" class="offer card col-sm-6 col-md-3  col-lg-2 m-1 p-0">
                <a th:href="@{/items/details/{id}(id=${item.id})}">
                    <div class="card-img-top-wrapper">
                        <img class="card-img-top" th:src="${item.imgSrc}" alt="image">
                    </div>
                    <div class="card-body pb-1">
                        <h5 class="card-title text-center" th:text="${item.name}" >Item name</h5>
                    </div>
                    <ul class="offer-details list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="card-text text-center"><span th:text="${item.price}">Item price</span></div>
                        </li>
                    </ul>
                </a>
            </div>

        </div>
    </div>
</main>
<footer th:include="fragments/foot :: foot"></footer>
</body>
</html>
