<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head th:include="~{fragments/head}"></head>

<body>
<div class="container">
    <div class="row rounded">
        <div class="col-12">
            <nav th:include="~{fragments/menu}" class="navbar navbar-expand-xl navbar-light bg-light rounded"></nav>
        </div>
    </div>
    <!-- row -->
    <div class="row tm-mt-big justify-content-center">
        <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12">
            <div class="bg-white tm-block">
                <div class="row">
                    <div class="col-12">
                        <h2 class="tm-block-title d-inline-block">Add new role to user</h2>
                    </div>
                </div>
                <div class="row mt-4 tm-edit-product-row">
                    <div class="col-xl-7 col-lg-7 col-md-12">
                        <form th:object="${roleAddBindingModel}" th:action="@{/roles/add}" th:method="POST" class="tm-edit-product-form" >
                            <div class="text-center">
                            <th:block th:each="e : ${#fields.errors()}">
                                <small th:text="${e}" class="text-danger col-12 text-center"></small>
                                <br/>
                                <br/>
                            </th:block>
                            </div>
                            <div class="input-group mb-3">
                                <label for="username" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Users</label>
                                <select th:errorclass="bg-danger" class="custom-select col-xl-9 col-lg-8 col-md-8 col-sm-7" id="username" name="username">
                                    <option selected>Select user</option>
                                    <option th:each="u : ${users}" th:value="${u}" th:text="${u}"></option>
                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <label class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Users</label>
                                <div>
                                    <input type="radio" id="user" name="role" value="USER">
                                    <label for="user">User</label><br/>
                                    <input type="radio" id="admin" name="role" value="ADMIN">
                                    <label for="admin">Admin</label><br/>
                                </div>
                            </div>

                            <div class="input-group mb-3">
                                <div class="ml-auto col-xl-8 col-lg-8 col-md-8 col-sm-7 pl-0">
                                    <button type="submit" class="btn btn-primary">Add
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 mx-auto mb-4">
                        <img src="/img/admin.gif" alt="Exercise picture" width="100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:include="~{fragments/foot}" class="row"></footer>
</div>

</body>

</html>